{% load static %}

{% if menu_tree %}
    <ul>
    {% for item in menu_tree %}
        {% with item.item.url as item_url %}
            {% url item_url as the_url %}
            {% if the_url %}
                {% url item_url as item_url %}
            {% endif %}
            <li{% if item_url == current_url %} class="active"{% endif %}>
                <a href="{{ item_url }}">{{ item.item.name }}</a>
                {% if item.children %}
                    {% include "menu.html" with menu_tree=item.children current_url=current_url %}
                {% endif %}
            </li>
        {% endwith %}
    {% endfor %}
    </ul>
{% endif %}